#cambox{
	width: 500px;
	height: 500px;
	background-color: inherit;
	margin: 0 auto;
	display: inline-flex;
}
.camcircle{
	width: 500px;
	height: 500px;
	background-color: inherit;
	margin: 0 auto;
	display: inline-flex;
	border-radius: 300px;
}
#filterbox{
	width: 100px;
	height: 500px;
	background-color: inherit;
	margin: 0 auto;
	float: right;
}
#filter{
	width: 100%;
	height: 100px;
	background-color: inherit;
	display: inline-block;
}
.sticker{
	margin: 0 5px;
	width: 90px;
	height: 90px;
	background-color: inherit;
}
.red-button{
	width: 80px;
	height: 80px;
	margin: 8px;
	border-radius: 50px;
	background-color: maroon;
	color: white;
	border: 0;
}
.popupform{
	display: none;
  	position: fixed;
  	margin: 200 150;
  	float: right;
  	z-index: 9;
  	background-color: inherit;
}
.formcontain{
	width: 200px;
	height: 100px;
  	padding: 10px;
	background-color = pink;
}
.formcontain input[type=file]{
	width: 100%;
	color: white;
}
.popbox{
	width: 200px;
	height: 200px;
	display: block;
  	position: fixed;
  	margin: 300 200;
  	z-index: 10;
  	background-color: green;
}
