#worktable{
	width: 100%;
	height: 500px;
	background-color: black;
}
#cambox{
	width: 500px;
	height: 500px;
	background-color: pink;
	margin: 0 auto;
	display: inline;
}
#cambox img{
	display: inline;
	background-color: teal;
}
.red-button{
	width: 80px;
	height: 80px;
	border-radius: 50px;
	background-color: maroon;
	color: white;
	border: 0;
}
#pan{
	width: 800px;
	height: 600px;
	background-color: blue;
}
